:root {
  --primary-color: #1E2F4C;
  --secondary-color: #fcf6f6;
  --text-color: #6B6F80
}

html,
body {
  padding: 0 !important;
  background-color: #F7F7F7;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb {
  background: #6F5CC2; 
}
