.header {
  background-color: #52438F;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  color: var(--secondary-color);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}

.chameleonLogo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.sortByLike {
  color: var(--text-color);
  width: 140px;
  margin-bottom: 10px;
  position: relative;
  z-index: 0;
}

.sortByLike svg {
  color: var(--text-color)
}

.sortByLike fieldset {
  border: 2px solid #ccc!important
}

/* popup account */

.myAccount {
  position: relative;
}

.myAccount .userAvatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  cursor: pointer;
}

.myAccount .subUserAvatar {
  width: 62px;
  height: 62px;
  border-radius: 100%;
  cursor: pointer;
  
}

.popupAccount {
  position: absolute;
  width: 300px;
  height: 250px;
  background-color: rgb(248, 248, 248);
  right: 0;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.userName {
  color: #000;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

.emailAddress {
  margin-bottom: 30px;
}


/* nav bar */

.navbar {
  background-color: #6F5CC2;
  height: 100vh;
  width: 220px;
  color: var(--secondary-color);
  position: fixed;
  left: 0;
  top: 80px;
}

.navbar .navItem {
  display: flex;
  align-items: center;
  padding: 12px;
  cursor: pointer;
  border-bottom: 1px solid rgb(206, 212, 255);
  background-color: #8675d3
}

.navItem:hover {
  background-color: rgb(206, 212, 255);
  color: var(--text-color);
  transition: all 0.3s;
}

.navItem span {
  margin-left: 8px;
}

/* content */

.mainContent {
  min-height: 100vh;
  margin: 100px 10px 0 230px;
  
}

.avatar {
  border-radius: 6px;
  width: 48px;
  height: 48px;
}

.image {
  width: 100px;
  border-radius: 6px;
  height: 66px;
  object-fit: cover;
}

.likes {
  display: flex;
}

.likes span {
  display: block;
  margin-right: 6px;
  margin-top: 6px;
}

.likes svg {
  color: #6F5CC2
}

.tags {
  display: flex;
}

.post {
  cursor: pointer;
}

.post td {
  color: var(--text-color);
}

.tag {
  margin-right: 4px;
  height: 24px;
  line-height: 24px;
  padding: 0 4px; 
  background-color: #6F5CC2;
  border-radius: 3px;
  color: var(--secondary-color);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.postTitle th {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 600;
}


