.mainContent {
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    height: 110vh;
    color: var(--primary-color);
    background-color: #fff;
    font-size: 20px;
}

.backBtn {
    position: relative;
    top: 100px;
    left: -140px;
    width: 110px;
    background-color: #6F5CC2 !important;
}

.backBtn:hover {
    background-color: var(--primary-color) !important;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.memberInfo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.memberContent {
    margin-left: 40px;
}

.memberContentName {
    font-size: 20px;
    margin-bottom: 8px;
    font-weight: 500;
}

.itemInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.itemInfoImage {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 20px;
}

.itemInfoText {
    margin: 20px 0
}

.itemInfoLikes {
    display: flex;
    margin-top: 20px;
}

.itemInfoLikes span {
  display: block;
  margin-right: 6px;
  margin-top: -1px;
}

.itemInfoLikes svg {
    color: #6F5CC2
}

.tags {
    display: flex;
}

.tag {
  margin-right: 8px;
  line-height: 100%;
  padding: 10px 18px 12px 18px; 
  background-color: #6F5CC2;
  border-radius: 8px;
  color: var(--secondary-color);
}

.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #fff;
    justify-content: center;
    align-items: center;
   
}
  
.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

