.main {
    background-image: url('https://preview.colorlib.com/theme/bootstrap/login-form-20/images/xbg.jpg.pagespeed.ic.tiVxeakBSd.webp');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.signInForm {
    position: relative;
    z-index: 200;
    background: rgba(255,255,255,.08);
    width: 400px;
    height: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px -3px, rgb(0 0 0 / 14%) 0px 8px 10px 1px, rgb(0 0 0 / 12%) 0px 3px 14px 2px
}

.marinSupport {
    display: block;
    height: 1px;
}

.contentForm {
    text-align: center;
    
}

.contentForm button {
    background-color: #fbceb5;
    color: #000;
    border-radius: 40px;
    padding: 26px 24px 24px 24px;
    height: 36px
}

.contentForm button:hover {
    background-color: #fbceb5;
}

.titleSignIn {
    margin-bottom: 20px;
    color: #fff;
    font-size: 22px;
    text-align: center;
}